*.elc
*~
/*-pkg.el
/*.tar.gz
/.cask/
.python-version
/README
/aclocal.m4
/autom4te.cache
/common.mk
/config.log
/config.status
/configure
/configure.lineno
/elpa
/emacs-load-relative
/emacs-loc-changes
/emacs-test-simple
/how-to-make-a-release.txt
/install-sh
/missing
/node_modules
/realgud-autoloads.el
/test/npm-debug.log
/tmp
Makefile
Makefile.in
elc-stamp
elc-temp
script
