*.elc
*~
/*-pkg.el
/*.tar.gz
/COPYING
/README
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/configure.lineno
/elpa
/install-sh
/missing
/test/npm-debug.log
/tmp
Makefile
Makefile.in
elc-stamp
elc-temp
script
